$border-radius: 4px;
$white: #fff;

$primary: #409EFF;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;

$primary-hover: #66b1ff;
$success-hover: #85ce61;
$warning-hover: #ebb563;
$danger-hover: #f78989;
$info-hover: #a6a9ad;

$primary-active: #3a8ee6;
$success-active: #5daf34;
$warning-active: #cf9236;
$danger-active: #dd6161;
$info-active: #82848a;

$primary-light-1: mix($white, $primary, 10%); /* 53a8ff */
$primary-light-2: mix($white, $primary, 20%); /* 66b1ff */
$primary-light-3: mix($white, $primary, 30%); /* 79bbff */
$primary-light-4: mix($white, $primary, 40%); /* 8cc5ff */
$primary-light-5: mix($white, $primary, 50%); /* a0cfff */
$primary-light-6: mix($white, $primary, 60%); /* b3d8ff */
$primary-light-7: mix($white, $primary, 70%); /* c6e2ff */
$primary-light-8: mix($white, $primary, 80%); /* d9ecff */
$primary-light-9: mix($white, $primary, 90%); /* ecf5ff */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}